[2017-12-19 06:43] trilliumtransit opened #1 "Alerts only display if start and end date are set"
It is impossible to create an ongoing alert, or one where the end date is still unknown. This could lead to confusion (the transit rider could believe some specific ongoing or permanent change will abruptly end), or result in an agency having trouble figuring out why a new alert didn't post.

The idea of a start and end date does not make sense for all types of alerts. Behavior should instead show

[2017-12-19 23:52] trilliumtransit opened #2 "Add timetable options to plugin settings page"
There are currently no user options for timetables. Determine what, if any, should exist, or delete the timetable options section from the settings page.

[2017-12-19 23:53] trilliumtransit opened #3 "Finish doctags and formatting for entire plugin"
Only `api.php` has doctags and consistently formatted code.

[2017-12-19 23:57] trilliumtransit opened #4 "Implement file upload for Board Meeting fields"
Board meetings have `agenda_pdf` and `minutes_pdf` fields defined and available on the settings page, however these fields have not been implemented.

Enable a file upload field in the `TCP_CustomPostType` class and implement for board meetings.

Alternatively--remove board meetings from the plugin altogether? (see next issue)

[2017-12-19 23:59] trilliumtransit opened #5 "Do Board Meetings make sense as a custom post type?"
We use them a lot for Trillium sites, but do they really make sense as part of the this plugin? Quite possibly they should be reserved for an internal fork because we use them so much, but they seem a little inconsistent with the rest of the plugin.

Any opinions? Should we remove them entirely?

[2017-12-20 00:02] trilliumtransit opened #6 "Integrate timetables with GTFS-to-HTML"
As it stands, the user must install gtfs-to-html locally, create timetables, and upload them to the plugin directory manually. This is not an intuitive or necessarily easy process, especially for less tech-savvy users.

Integrate with GTFS-to-HTML as a service, and allow automated timetable fetching without requiring SFTP.

[2018-01-09 19:00] NomeQ opened #7 "Sort Timetables"
The function `the_timetables()` should sort timetables in a sensible manner (i.e. weekday first, always show same direction first.)

[2018-04-25 16:42] thomastrillium opened #13 "Timetables disappearing unintentionally when software does its job"
Timetables.txt sets an end date to a calendar, which transit custom posts imports, which is great, because we can set up calendars to change automatically.

However, it is standard practice for GTFS feeds to extend only so far out into the future. If the timetables are not regenerated when the calendars are extended in GTFS, then timetables may disappear unintentionally.

Long term solution is mak

[2018-05-22 01:55] brendannee commented on #7
timetables.txt has a `timetable_sequence` field which can be used to control the order of timetables in a "Timetable Page". https://github.com/BlinkTagInc/gtfs-to-html#build-timetablestxt You could use the value of this field to control the sort order.

[2018-05-22 04:18] brendannee opened #16 "Allow control of the title in tcp_do_alerts"
It would be useful for a lot of templates to be able to control the title that shows up above alerts that is currently hard coded as "Alerts" along with an icon. Sometimes alerts will want to show up in a widget where the title is already provided, it would also be useful to control the actual wording and what type of HTML element surrounds it (currently it is a hardcoded `<h3>` element).

I propo

[2018-05-23 21:31] #1 closed

[2018-05-23 21:35] NomeQ commented on #13
I've been thinking about this, and I've implemented a few custom solutions on individual projects. I think perhaps the most flexible solution might be to set how long to display timetables both before they are active and after they've expired. One of those options can be "forever" for each of them. I think I should work on an extra timetable function to use within themes because some agencies just

[2018-05-23 21:36] NomeQ commented on #5
Having now made 3 sites using my plugin, I am going to go with a resounding "no".

I am going to remove board meetings from the plugin.

[2018-05-23 21:45] thomastrillium commented on #5
I'm surprised by this and from the optics point of view I'm very opposed. This is a good selling point to agencies.

What's the technical reason?

[2018-05-23 21:47] NomeQ commented on #16
I think these are great ideas! The alert function definitely needs more customization options.

I've also considered that the plugin could benefit from two different alert functions for displaying alerts. One kind of "all-in-one" simple function (like what is currently there), and another that does much less in terms of styling. I.e. provide simpler alert components and construct the widget from t

[2018-05-23 22:14] NomeQ commented on #5
From a development standpoint it makes no sense to include, and semantically it doesn't make a lot of sense either.

- Including board meetings as a custom post type doesn't save much in terms of development effort. It's still necessary to create a custom template in the theme to display them, and, because a board meeting isn't a standardized type of data like GTFS, clients generally want very dif

[2018-05-23 22:16] thomastrillium commented on #5
All this is true. Let's still hold though. Let me mull.

[2018-05-24 00:12] brendannee commented on #16
I think that more function arguments for the existing function is a good place to start - it will be a lot more usable with a customizable title. I'd vote for not supporting any custom icons, and then leave it to the developer to add that

How about renaming `tcp_do_alerts` to `tcp_alerts` and then having a new function called `tcp_get_alerts` that  doesn't echo the alerts but returns and array of

[2018-05-24 20:49] NomeQ commented on #16
I think those are great suggestions! If you're working on it already, go ahead and make these changes, otherwise I'll get to them between now and when I start the next website I'm using it in.

I agree that's it's a good time to make it more consistent, and also to make some of the design choices a little more in-line with Wordpress convention. Definitely realizing that this plugin will take at le

[2018-10-29 14:41] thomastrillium opened #17 "route page urls should be configurable or default to route_short_name use"
From @brendannee on countyconnection:

urls based on route_short_name are preferred in most cases, and should probably be the default action of the plugin.

related, didn't we have this request for VVTA, and didn't we do something to maintain our short_name-based urls on update?

[2019-04-12 21:45] thomastrillium commented on #17
@NomeQ I just updated the urls in TCAT. I think we should take on this generalized task before building Star.

[2019-04-13 00:48] NomeQ commented on #17
Oh if you changed the urls from what I manually put there, then the
illustrated map will break

On Fri, Apr 12, 2019 at 2:45 PM Thomas Craig <notifications@github.com>
wrote:

[2019-07-31 16:17] AdamChlan opened #20 "Demo Site"
I was hoping to have a look at the demo site which is referenced on the plugin site:

https://demoplugin.wpengine.com/

Does this exist somewhere else?

[2019-08-07 22:39] trilliumtransit commented on #4
Decided to remove board meetings from plugin (will be template feature.)

[2019-08-07 22:39] #4 closed

[2019-08-14 19:07] holzmandee opened #21 "'Error downloading feed' message when updating GTFS Feed"
In Transit Custom Posts 'GTFS Settings', when trying to specify a GTFS Feed URL (something like 'http://oregon-gtfs.com/gtfs_data/hoodriver-or-us/hoodriver-or-us.zip'), to update routes, alerts, etc., a error status 104 is returned, specifically: 'Error downloading feed. Please set GTFS feed correctly in GTFS settings first.'

I've narrowed down the cause of the error in the tcp_download_feed() fu

[2019-08-18 16:12] holzmandee commented on #21
Please disregard, a server issue was causing this issue - thank you so much for this plugin

[2019-08-18 16:12] #21 closed

[2019-08-21 18:09] NomeQ opened #22 "Add manual timetable HTML upload"
Add the ability to upload a zipped folder of HTML timetables to gtfs-data/timetables from the WP Admin screen.

[2019-08-21 18:11] arr0nax opened #23 "Certain GTFS feeds break when uploaded due to alternative file types"
It appears that certain GTFS feeds export in a slightly different .txt format. Usually these feeds break the plugin when attempting to upload.

steps to reproduce:
1. download vine transit data .zip http://data.trilliumtransit.com/gtfs/vinetransit-ca-us/vinetransit-ca-us.zip
2. Upload the feed directly using beta tcp file upload.

We should probably check for this errant filetype if possible, or s

[2019-08-21 18:12] arr0nax commented on #23
It also may be related to copy-pasting on the GTFS end. Ultimately this error is caused by the GTFS data, but we need to control for it on the web end.

[2019-08-21 18:13] arr0nax opened #24 "remove 'thank you for developing with wordrpress' footer"
gets in the way of buttons!

[2019-08-21 18:23] arr0nax commented on #24
added a hack fix using style tag in gtfs-update.php

we should update later with a better solution if possible

[2019-10-02 21:41] #24 closed

[2019-10-02 21:41] #22 closed

[2020-02-18 19:13] kelvinramirez opened #25 "Can I generate a timetable automatically with the timetables in html?"
Basically Im stuck in adding the timetables generated by GTFStoHTML into wordpress. I have hundreds of timetables.html

[2020-03-20 22:05] trilliumtransit opened #26 "Custom route circles within custom name"
For routes without short names, allow custom text within a route circle to be set in route_custom_name field.

[2020-03-20 22:06] trilliumtransit commented on #17
Default should be configurable in settings, to allow route_long_name as URL default for sites where this is the case.

[2020-03-27 20:38] dudebrains01 opened #27 "Only one route created on GTFS import"
Hello,
I am trying to use transit-custom-posts with the Transit Base Template.
However, upon import of my GTFS feed and my timetables generated on gtfstohtml.com (both are imported via the manual import feature), I have some issues:
1) Only one route page is created, instead of the 10 that should be, and this route does not contain any information/timetables.
2) Only one timetable post is created

[2020-04-13 01:07] thomastrillium commented on #27
Hi--apologies but we don't have the capacity at this time to address bugs from users in most circumstances at this time. Thanks for your interest but closing as we won't be able to address in a timely fashion.

[2020-04-13 01:07] #27 closed

[2020-05-31 22:02] dudebrains01 commented on #27
Just FYI I figured out that the issue was with the GTFS file used.
The GTFS feed in question had .txt files encoded in UTF-8 with BOM. Converting it to UTF-8 (no BOM) fixed it.

[2020-05-31 22:33] thomastrillium commented on #27
We appreciate the follow up @dudebrains01

opening in case @NomeQ thinks this is a bug we should fix

[2020-07-02 23:36] sleddd opened #28 "Add checkbox field to custom post types page of TCP that allows user to 'Override Custom Post Type Alerts with Transit Alerts' - When transit alerts is installed"
@NomeQ  I have added this field already. Below is a screenshot of what it looks like right now. I will begin updating the API next.

<img width="1081" alt="Screen Shot 2020-07-02 at 4 35 43 PM" src="https://user-images.githubusercontent.com/1176945/86417616-62592080-bc82-11ea-92e4-632ad829c638.png">

[2020-07-02 23:38] sleddd opened #29 "Update the TCP API to use CPT alerts or override the CPT alerts with transit feeds. Each API function whether using CPT or Transit Alerts should return same result."

[2020-07-02 23:39] sleddd opened #30 "Use the Vine theme to implement/test the override feature and replace the existing custom alerts js. Add any additional TCP API functions as needed."

[2020-07-02 23:39] sleddd opened #31 "Add any additional TCP API functionality needed."

[2020-07-09 00:17] sleddd commented on #29
@Nome - Today I worked on adding a transit alerts override option to the tcp_do_alerts api function. I was able to get it working and tested using the star transit DB content with the star theme and the transit-base-theme. This means you can you use tcp_do_alerts for either/or and should not need to change a thing in the theme code. 

That said, I also added a more robust collapse option to the al

[2020-08-20 00:32] #29 closed

[2020-08-20 00:32] #28 closed

[2020-08-20 21:58] sleddd commented on #30
@NomeQ I have now implemented custom hooks and the transit custom posts transit alerts override option. I tested by implementing on the Vine site locally, then checking CATA, JNU, and NWOTA locally to make sure those remained the same.

I did have to add some additional options for customizing classes etc, but it did work like a charm. If Vine is wanting to do it, we could implement it on Vine ( t

[2020-08-20 21:58] #30 closed

[2020-08-20 22:08] sleddd commented on #2
This option has been added, so I am closing this issue.

[2020-08-20 22:08] #2 closed

[2020-08-20 22:09] sleddd commented on #5
The plugin now has a board meeting CPT option.

[2020-08-20 22:09] #5 closed

[2020-08-20 22:11] #3 closed

[2020-08-20 22:18] #16 closed

[2020-08-20 22:26] #31 closed

[2020-08-20 22:32] sleddd commented on #30
@NomeQ After re-reviewing old issues - I am going to take those, GTFS update, and a general code cleanup on before we release this, so if we were to update Vine, then it would just be a beta release, but we could still do it.

[2020-08-21 00:16] sleddd commented on #25
I would try reviewing the section on updating timetables in the Transit Custom Posts Documentation. You can find it here: https://trillium-solutions.github.io/transit-custom-posts/gtfs-update.html#timetables

[2020-08-21 00:16] #25 closed

[2020-08-22 01:08] NomeQ opened #33 "Add ability to toggle Wordpress Editor for CPTs"
Most of our sites only use structured meta fields for route pages, so it would be nice to have an option with the TCP settings page to enable/disable the Wordpress Editor for post types. That way, clients won't be confused and try to add text that isn't even used by the theme.

[2020-08-24 18:47] sleddd commented on #33
@NomeQ  I added separate options to disable the routes, alerts, or timetable editor. I did not allow for an option to disable Board meetings as it seemed relevant to keep that editor for extended descriptions or special notes. I added separate options for each CPT, because some may want an alerts editor, but not a timetable editor etc.. Let me know if you need additional changes.

[2020-08-24 18:47] #33 closed

[2020-08-24 18:57] NomeQ commented on #30
That sounds good! I don't think we have to rush to implement this on Vine, I think making the other changes first would be a good idea, and waiting until we have a release candidate. The main things I see above that I want to change before any release:

- Remove option around `effective-date-text`. It should follow the same logic that alerts.js on Vine and TCP already do in formatting effective da

[2020-08-24 19:04] NomeQ commented on #33
Sounds great! Thanks!

On Mon, Aug 24, 2020 at 11:47 AM Claudette Raynor <notifications@github.com>
wrote:

[2020-08-24 19:08] sleddd commented on #30
@nome If I don't allow the user to customize the date format and effective date text, then it will not work for Vine. Vine uses an unbound start date with a format that has the full month and day with st, th, etc...  the text begins 'Starting' - I can remove support for those customizations, but it will not work for Vine nor other legacy sites that would require or have special customizations for

[2020-08-24 19:13] sleddd commented on #30
@NomeQ For the last item, affected routes and route circles are both false by default. I set them in the vine test, to illustrate you have separate options. I will check to make sure it is following that default logic though. With so many changes, something could have slipped through.

[2020-08-24 19:25] NomeQ commented on #30
I'm okay with the date format being forced to go with what is in WP Options, since that will standardize the date everywhere it shows up on the site, and consistency is better practice.

If we make the text customizable, it needs to be customizable for all 3 cases (has start date only, has end date only, has both). Not sure if I'm misunderstanding you, but `alerts.js` in the vine theme has the fol

[2020-08-24 19:50] sleddd commented on #26
@NomeQ I added this option to the 2.0 release. See screenshot below for example of field and result...

<img width="1054" alt="Screen Shot 2020-08-24 at 12 49 16 PM" src="https://user-images.githubusercontent.com/1176945/91089442-69f4d000-e608-11ea-9c3e-9e5fe83811e6.png">
<img width="405" alt="Screen Shot 2020-08-24 at 12 49 30 PM" src="https://user-images.githubusercontent.com/1176945/91089448-6b

[2020-08-24 19:50] #26 closed

[2020-08-24 20:05] sleddd commented on #17
When you create new routes, with the current behavior, it will automatically default to short_name and if there is no short_name then it will use the long name. I am not sure what more work needs to be done on this, so I am closing this issue, however, please re-open with updated details if necessary.

[2020-08-24 20:05] #17 closed

[2020-08-26 19:27] sleddd commented on #23
@NomeQ Do you know if this is still an issue?

[2020-08-26 20:21] NomeQ commented on #23
I can't recall this issue, so I think it must no longer be relevant

On Wed, Aug 26, 2020 at 12:27 PM Claudette Raynor <notifications@github.com>
wrote:

[2020-08-26 21:49] sleddd commented on #23
@NomeQ Thanks for reviewing it. I will close it for now and if we need to, then we can re-open it.

[2020-08-26 21:49] #23 closed

[2020-08-26 22:32] sleddd commented on #30
@NomeQ I just changed the text for all three plugins, so that it is as you noted: Starting, Effective, and Effective Until. All other changes should be made now and I am reviewing for what additional changes to make before going site-to-site.

[2020-09-06 01:43] philam commented on #21
@holzmandee I'm experiencing the same issue that you did - would you mind posting what your server issue was and the steps that you took to fix it? Thanks

[2020-10-26 17:13] sleddd opened #34 "TCP improvements for handling empty timetables"
@ekeaton @evantrillium @danielleogden - Issue moved from the timetables git to here and it requests that TCP be updated to handle empty tables and show only direction group options that are applicable for a given day when the day is selected.

[2020-10-26 17:13] sleddd opened #35 "TCP improvements for handling empty timetables"
@ekeaton @evantrillium @danielleogden - Issue moved from the timetables git to here and it requests that TCP be updated to handle empty tables and show only direction group options that are applicable for a given day when the day is selected.

[2020-10-26 19:47] NomeQ commented on #34
One thing to note is that it was intentionally designed to pull from timetables.txt when no HTML is present since this software is open source, and I wanted to allow the option for anyone using it to also just create their own timetables within the WP Admin editor if they didn't want to use GTFS-to-HTML.

It's okay if we want to change that use case, but we need to make sure to change all the docu

[2020-10-26 20:03] ekeaton commented on #34
@NomeQ I will say on both BAT and GATRA, I've had to use GTFS-to-HTML and upload them via a zip file into TCP. Otherwise, the update wasn't working. And the timetables I needed were in timetables.txt

Also, I will say I do like the option to create timetables within WP Admin editor if TCP is acting wonky on different sites.

[2020-10-26 20:43] sleddd commented on #34
@NomeQ @ekeaton @evantrillium - While I have added some code that suppresses empty tables from being imported, @NomeQ I am thinking that I will make this optional - meaning it is not the default behavior and you check a box stating 'Do not import empty timetables" when you want that option. This will provide better legacy support. Thank you for mentioning that above.

[2020-10-26 20:50] NomeQ commented on #34
That's a great solution!

On Mon, Oct 26, 2020 at 1:44 PM Claudette Raynor <notifications@github.com>
wrote:

--
Nome Dickerson (pronouns - she/her)
Chief Software Architect
Trillium <http://trilliumtransit.com/> - We make transit easier to use.

[2020-10-27 00:06] sleddd commented on #34
Added option to not import empty tables when running GTFS and adjusted timetable legend script to only show the applicable directions for the day that is selected.

[2020-10-28 19:45] danielleogden commented on #34
@sleddd since the recent TCP update we're seeing route PDFs getting wiped out. @ekeaton can give me more specifics.

[2020-10-28 20:03] ekeaton commented on #34
@sleddd It seems every time gtfs update is ran on SC-T it's deleting route pdf's from the route pages. I've manually added them back on Production. But you can see it here on staging. http://sctransstaging.wpengine.com/

Not sure if this is a TCP issue or isolated to Sonoma.

[2020-10-28 20:17] NomeQ commented on #34
Since multi-route pages only occur on sct and aren't part of TCP, I would
guess that code is the only part affected - sounds like route pages are
getting deleted/overwritten rather than updated.

On Wed, Oct 28, 2020 at 1:03 PM ekeaton <notifications@github.com> wrote:

--
Nome Dickerson (pronouns - she/her)
Chief Software Architect
Trillium <http://trilliumtransit.com/> - We make transit easier t

[2020-10-28 20:27] sleddd commented on #34
@nome @ekeaton @danielleogden Could you please give me an example of a missing PDF? I updated and the PDF's were still there, I can see them working on staging and after we ran the first update, Evan had me fix a PDF link, so they were there... Can you give me a specific example of a broken PDF?

[2020-10-28 20:29] sleddd commented on #34
@NomeQ @ekeaton @danielleogden Nevermind, I see them missing on staging. I will look into the cause and reply back here shortly.

[2020-10-28 20:50] #35 closed

[2020-11-25 03:29] NomeQ opened #37 "Not fully compatible with wp-transit-alerts plugin"
Issue: Attempted to use with wp-transit-alerts on the TART website.

Expected Behavior: Should replace alerts from template in `tcp_do_alerts()` with alerts from the Transit Alerts feed. These alerts should be formatted as identically to the old alerts as possible.

Actual Behavior: Started pulling up alerts from Wordpress that we no longer active, but did not pull in the Transit Alerts. Formattin

[2020-12-10 01:54] NomeQ opened #38 "tcp_list_routes no longer backward compatible"
Running `<?php tcp_list_routes( array('use_color' => true) ); ?>` breaks on the website https://tahoetruckeetransit.com/

[2020-12-17 21:29] ekeaton opened #39 "timetable.txt multi-route sorting"
I'll admit that title could use some work...

This could be TCP related or TART's theme and how it maybe wasn't fully ready to move over to the newest TCP.

**Issue as seen on TART:**
TART has PM routes/timetables that have been merged into other routes.
Example Hwy 267 with Hwy 267 PM (aka NSPM)
And Mainline with Westshore PM.

**Desired result:**
Hwy 267 and Mainline are the "dominant" routes an

[2020-12-17 22:16] antrim commented on #39
(Support ticket that generated this issue: https://trilliumtransit.zendesk.com/agent/tickets/52828)

We determined that the order of rows in timetables.txt should not ever affect these outcomes.

[2020-12-17 23:37] NomeQ commented on #39
@antrim I've asked Estelle to create tickets in this repository for any issue we've had with TCP, even if we found a workaround or managed to solve to issue. We're collecting these to help guide the updates for the plugin in the timetable overhaul project.

[2021-01-29 19:29] ekeaton opened #40 "Get Route name is broken"
function tcp_list_routes is not showing route names, which appears to be an issue in central transit.

[2021-01-29 19:48] ekeaton opened #41 "Create Collapse style timetables"
Within the timetables function create styling for a collapse menu as seen on SCT or MBTA

[2021-04-07 22:18] NomeQ opened #42 "Add Support For Scheduled (Upcoming) Timetables"
Issue: When GTFS Update runs, it deletes all the past timetables and replaces with the current timetables. The timetable API functions are set up to just return current timetables. This means timetable updates must be performed on the website at the same time we want them to go live.

**Base Feature Request**
- TCP timetable functions check `start_date` to decide which timetables to display. Autom

[2021-04-07 22:21] NomeQ commented on #42
Note that we often can't rely on `end_date` in `timetables.txt` - it is set when the timetable is created, and doesn't necessarily indicate when it should be expired. @evantrillium since the new timetable improvements, is it now easier to export a `timetables.txt` that contains both the current and upcoming timetables? If so, we can ignore this caveat.

Otherwise, logic will have to take this into

[2021-04-09 15:54] evantrillium commented on #42
we're still one major step away from this, and that's being able to mass edit start/end dates for tts. Right now, we do have copy, but you would be left with the same dates as the tables you copied

[2021-04-09 15:55] evantrillium commented on #42
I usually run a query to update start time but that's based on feed_id, not anything smaller. is there an easy sql language to describe 'ids starting at xxx'? because then we could still run the update query, and fine tune it to tables starting at a given id. Or, if it's somewhere in the background, created_date

[2021-04-09 23:36] NomeQ commented on #42
@lisaattrillium do you have mass edit of start/end date for timetables in a github issue? I searched but didn't find anything. If that's something you could add to the 10.6 Sprint, that would be great.

@chancecorbeil if dev team is able to fit this in the June sprint, hold off on this particular feature until they're done. Having timetables.txt contain current and upcoming timetables would make t

[2021-04-12 16:09] lisaattrillium commented on #42
@NomeQ I had it as a note! It is now Issue  [#5679](https://github.com/Trillium-Solutions/GTFSManager/issues/5679)

[2021-05-13 19:36] chancecorbeil opened #43 "Accordion timetables feature"
Build optional feature for timetables to expand and collapse using accordions.

Example: https://mcctransit.com/routes/college/

[2021-05-14 02:30] chancecorbeil commented on #43
This works! We now have an accordion feature for timetables. All it takes is a tag attribute in the theme files. Like this:
`							<?php the_timetables( array( 'accordion' => true ) ); ?>
`

This feature could use some styling updates, like a directional arrow icon. So I will leave this ticket open for now.

[2021-05-14 07:55] #20 closed

[2021-05-14 18:41] chancecorbeil opened #44 "Ability to replace timetable legend labels with destination stop name"

[2021-05-14 18:42] chancecorbeil opened #45 "Add better classes to timetable legend"

[2021-05-14 18:44] chancecorbeil commented on #41
Oh I didn't realize there was a ticket for this! I made another ticket yesterday, #43.

I have this task mostly complete, so I will close this ticket and finish up my comments in the other ticket. Thanks for the great idea!

[2021-05-14 18:44] #41 closed

[2021-05-18 23:31] chancecorbeil opened #47 "Feature to swap order of buttons in timetable legend"
Sometimes we need to swap the order of buttons in the timetable legend. Build a tool to optionally swap the legend button order. This feature should be managed individually for all posts from the post editor.

[2021-05-18 23:35] chancecorbeil opened #48 "Feature to vertically reorder timetables"
Timetables without legends are stacked vertically. Build a tool on the route post editor to change the timetable stack order.

[2021-05-20 00:26] chancecorbeil opened #49 "Connect with ACF using JSON"
This is already done in RVTD. We can use a similar solution, but we will need to be mindful that there can only be one save point (which will remain the theme).

[Useful resource](https://www.awesomeacf.com/snippets/load-acf-json-files-from-multiple-locations/)

[2021-05-20 01:25] chancecorbeil commented on #49
All done

[2021-05-20 01:25] #49 closed

[2021-05-20 23:05] chancecorbeil commented on #47
I'm tagging on a similar task to this ticket: Reverse selected direction on page load

[2021-05-20 23:09] chancecorbeil commented on #47
Two new features are set up:
Reverse order of directions in legend
Reverse selected direction on page load

These tools are controlled from the route page editor.

There is a bug... The 'Reverse order of directions in legend' feature breaks the background color when "checked". In fact it actually breaks the "checked" feature which controls the background color. Fix this or develop another way to c

[2021-05-20 23:16] chancecorbeil commented on #47
Bug update. The issue is that I didn't move input along with the label. Move the input just above the label and the bg color will revive. I can fix this shortly.

Note: RVTD worked because the labels never moved, just clicked. Also "checked" doesn't control the bg.

[2021-05-21 00:02] #47 closed

[2021-05-24 21:20] chancecorbeil commented on #42
We have a working solution for the base goals of this task. When timetables.txt has current and upcoming timetables, the plugin will manage which timetables to display automatically.

- Upcoming timetables are not visible until the current date is within their date range.
- Expired timetables will disappear if there are still timetables within the current date range.
- Expired timetables will be s

[2021-05-25 17:21] chancecorbeil commented on #42
The feature to preview upcoming timetables is set up. The plugin settings page has a checkbox to enable the upcoming timetable preview and a field to designate how many days ahead to preview (default is 14 days).

All the plugin features from this ticket are ready to go. I'm going to leave this ticket open until after the June sprint so I can make sure all these features still work.

[2021-05-26 00:13] #43 closed

[2021-05-26 00:46] chancecorbeil commented on #40
@ekeaton can you describe the issue you were experiencing? I tried replicating the issue, and tcp_list_routes appears to work for me.

[2021-05-26 00:58] chancecorbeil commented on #38
Is this still an issue? I did a test on TART and `<?php tcp_list_routes( array('use_color' => true) ); ?>` worked fine for me.

[2021-05-26 15:32] ekeaton commented on #40
Ah so I just tried it out again and I'm not sure what happened between January and now. I was using the function on the front page to display the Route buttons next to the Ai map and it created the buttons without any text. When I inspected the buttons it showed the routes were being populated but without inner text.

However it looks like it is now resolved on its own somehow! I'll go ahead and c

[2021-05-26 15:32] #40 closed

[2021-05-26 20:31] chancecorbeil opened #50 "Change Legend and Accordion array keys to settings page options"
Right now the timetable settings for Legend and Accordion are controlled by array keys. Switch this to something simpler like options on the settings page.

[2021-05-26 20:52] chancecorbeil commented on #48
This feature is set up and ready to use.

Originally, timetables are sorted by the 'timetable id'. This is fine for when the timetable order doesn't matter. This is still the default functionality.

To have more control over vertical timetable order, there is now a new field on the Route editor to designate how to order the timetables. This field is 'Order by' and the options are 'Timetable ID Fie

[2021-05-26 20:52] #48 closed

[2021-05-27 20:25] chancecorbeil commented on #38
We had another ticket where tcp_list_routes broke but now works again. I assume this is similar. Let's close this ticket since it works now and I will keep an eye on tcp_list_routes.

[2021-05-27 20:25] #38 closed

[2021-05-27 20:26] chancecorbeil commented on #50
The Legend and Accordion features have been moved to the TCP settings page.

[2021-05-27 20:26] #50 closed

[2021-05-31 22:21] chancecorbeil opened #51 "Plugin doesn't work with Gutenberg"
Identify why TCP is causing a save error: "Publishing failed. The response is not a valid JSON response."

"The plugin generated 1602 characters of unexpected output during activation. If you notice “headers already sent” messages, problems with syndication feeds or other issues, try deactivating or removing this plugin."

[2021-05-31 22:26] chancecorbeil commented on #51
"The plugin generated 1602 characters of unexpected output during activation. If you notice “headers already sent” messages, problems with syndication feeds or other issues, try deactivating or removing this plugin."

[2021-05-31 22:59] chancecorbeil commented on #51
The issue was javascript appearing on the backend before the doctype. This JS has been moved inside a php function and all is fixed!

[2021-05-31 22:59] #51 closed

[2021-05-31 23:07] chancecorbeil opened #52 "Custom Gutenberg blocks for transit content"
Build a system for custom Gutenberg blocks. Think longterm for the future of WP and how Trillium builds WP software.

Explore:
[ACF Blocks](https://www.advancedcustomfields.com/resources/blocks/)
[Create-guten-block](https://github.com/ahmadawais/create-guten-block)
and other processes

Let's take [this lecture](https://www.udemy.com/course/gutenberg-block-development-wordpress-javascript-course/#

[2021-06-01 02:56] chancecorbeil opened #53 "Extend WP admin with 'Screen Options'"
Example: Fliter by agency for NWOTA

[2021-06-04 20:33] chancecorbeil opened #54 "Add flex features"
Conditionally add 'DRT Pickup Message' and 'Rider Eligibility Restrictions' if these contents exist.

These contents will appear near the top of route pages, next to a route description.

'DRT Pickup Message' is in trips.txt
'Rider Eligibility Restrictions' is in routes.txt

[Example flex route](https://www.nworegontransit.org/routes/tillamook_-_manzanita_-_cannon_beach/)

[2021-06-04 20:35] chancecorbeil opened #55 "Shortcodes for embedding routes information, alerts, and timetables with the WP Admin editor"

[2021-06-08 23:29] danielleogden opened #56 "Turn routes off based on timetables"
As Evan suggested last week, I think we want to consider how we can manage routes on the website by looking at whether timetables exist for that route, rather than whether the route is present in the routes.txt. This will save time for both Support and Website team by not having to update and re-export the GTFS feed to make adjustments.

Let's consider adding a simple function that turns a route o

[2021-06-09 00:07] chancecorbeil commented on #56
Sure, I will prioritize this ticket. I appreciate the descriptive outline of this task. Very helpful in conceptualizing the goal.

[2021-06-09 14:26] chancecorbeil commented on #56
Do you have an example of a GTFS feed url that emulates this situation? I would like to know how the txt files are structured when timetables are not present for a route.

I believe we can use route_ids to identify if there are no timetables for a route. If a route's route_id is not a match for any timetable's route_id, then there are no timetables for that route.

[2021-06-09 14:49] ekeaton commented on #56
@chancecorbeil Any feed will work! Yes route_ids are used to identify which timetables match to which Route. So right now if timetables are expired then we just have an "empty" route page. So the solution will need to deal with removing the Route post if no timetables are expired. If you look here in TCP https://github.com/Trillium-Solutions/transit-custom-posts/blob/production/gtfs-update.php on

[2021-06-09 15:01] evantrillium commented on #56
For YARTS and CATA we can just set the timetables start_date and end_date to *not* match the service dates as described in the GTFS.

This is easy enough - we just determine "is this a route that's always on" Y/N and if Y then it's start_date is like, 2000-01-01 and end date is 2100-01-01.

This is what I did for YARTS' imap

[2021-06-10 15:31] ekeaton commented on #56
@chancecorbeil I thought of another edge case. This new function will need to remove/"draft" routes that do not have an associated timetable. So two things: It will need to:

1. Draft/remove the route post when the timetable/s for a route expires aka looking at the timetable end date. 2. Draft/remove a route if there are no timetables that are using its route id. (Since timetables appear on route

[2021-06-10 20:40] chancecorbeil commented on #56
@ekeaton Thanks! I appreciate you identifying edge cases.

The good news is this situation is what I originally thought was the main goal, so it's already built in. Woohoo!

[2021-06-12 00:09] chancecorbeil commented on #56
We have a working version of this feature.

Routes with missing or expired timetables are moved to the trash. This feature can be overridden on a route by route basis from the route WP editor. Updating the field ‘Keep route published if there are no timetables’ to ‘yes’ will keep routes with missing or expired timetables from moving to the trash.

This feature has a high bug potential, so it’s wor

[2021-06-15 23:52] chancecorbeil commented on #54
We have 'Rider Eligibility Restrictions' working in TCP.

'Rider Eligibility Restrictions can be added to templates with code like
`<p id="eligibility_restricted">
<?php if ( get_field('eligibility_restricted') ) : ?>
Rider Eligibility Restrictions: <?php the_field('eligibility_restricted'); ?>
<?php endif; ?>
</p>`

'DRT Pickup Message' is not functional yet because it is in trips.txt instead of

[2021-06-16 00:18] chancecorbeil commented on #54
There are many trips per route. Are all trip DRT Pickup Messages the same for every trip in that route? If so, we can probably pull the data from a single trip and use it as we want. But if the DRT Pickup Messages are different for each trip, then we should discuss how we want to handle what we display.

[2021-06-18 20:26] chancecorbeil commented on #54
We have confirmed that all trip DRT Pickup Messages for a route are the same. So we will have this function grab the first existing message and use that message only.

[2021-06-18 20:40] chancecorbeil commented on #54
By the way, we will need to add Trip Ideas as a CPT to TCP for this feature to work. That is where the DRT Pickup Messages come from. Let's discuss this and outline a plan.

[2021-06-18 21:26] chancecorbeil commented on #54
Here we go! We have a working solution to conditionally add 'DRT Pickup Message' and 'Rider Eligibility Restrictions' to routes.

Here it is on NWOTA
![Flex Demo](https://user-images.githubusercontent.com/4701939/122616048-7d14d880-d03e-11eb-84d0-33ebac608b44.png)

These fields can be displayed with the following functions

`tcp_flex_drt_pickup_message();`

`tcp_flex_eligibility_restricted();`

[2021-06-18 22:18] chancecorbeil commented on #54
For this feature to work out of the box with TCP, we would need to add Trip Ideas as a CPT to TCP, and trip ideas would need the fields 'route id' and 'DRT Pickup Message' set up in ACF JSON.

Let's discuss this soon.

[2021-06-18 22:27] chancecorbeil commented on #56
I've decided to make this feature optional. We will use the settings page to toggle this feature on and off.

This change will solve use cases like
1. NWOTA not having timetables
2. Once routes are in the trash, they can’t be edited. Also we can’t remove routes from the trash because the function puts them right back in the trash. So we can’t update the ‘Keep route published if there are no timeta

[2021-06-18 23:04] chancecorbeil commented on #56
This feature is now optional! The current version of this feature passes all my tests.

[2021-06-18 23:04] #56 closed

[2021-06-25 01:04] chancecorbeil opened #57 "Make a conditional feature for keeping existing routes upon GTFS feed update"
Currently TCP deletes any existing route posts that are not in the new GTFS. Make this optional.

Websites like NWOTA need the ability to upload multiple feeds.

[2021-06-25 02:03] chancecorbeil commented on #57
All done!

[2021-06-25 02:03] #57 closed

[2021-06-25 22:30] chancecorbeil opened #58 "Add feature to select route_short_name or route_long_name as route title"
Currently TCP uses route_short_name, and if there is no route_short_name then route_long_name is used.

We can keep the above dynamic set up for route_short_name, while adding the option to select which route title is used.

[2021-06-26 00:20] chancecorbeil commented on #58
This feature is now set up and ready to go! Controlled from the settings page.

[2021-06-28 22:45] #58 closed

[2021-06-29 22:21] chancecorbeil commented on #54
We figure out a way to pass data from trips.txt to the routes with the same route ids. Now we can have flex routes without needing a trips CPT.

Here is the new Flex routes outline. 'DRT Pickup Message' and 'Rider Eligibility Restrictions' are custom fields in routes. The 'DRT Pickup Message'  data from trips.txt will be passed to the affiliated route during the GTFS update process. All flex field

[2021-06-29 22:34] chancecorbeil opened #59 "Is route flex or not field"
Create a route field to indicate if the route is flex or not.

[2021-07-02 23:46] chancecorbeil commented on #54
All done!

[2021-07-02 23:46] #54 closed

[2021-07-02 23:47] chancecorbeil commented on #45
There is always room to add more classes, but now there is a handy set of classes on a few previously inaccessible tags.

[2021-07-02 23:47] #45 closed

[2021-07-02 23:48] chancecorbeil commented on #59
Set up and ready to use. It looks at the 2 flex fields. If either exist the field is labelled as a flex route.

[2021-07-02 23:48] #59 closed

[2021-07-02 23:48] chancecorbeil commented on #55
Shortcodes are set up and ready to use. Refer to the readme for documentation.

[2021-07-02 23:48] #55 closed

[2021-07-02 23:48] chancecorbeil commented on #52
Blocks are set up and ready to use. Refer to the readme for documentation.

[2021-07-02 23:48] #52 closed

[2021-07-02 23:49] chancecorbeil commented on #42
All done.

[2021-07-02 23:49] #42 closed

[2021-07-05 18:30] danielleogden opened #60 "Freeze stop names column in horizontal timetables"
Expected behavior: For timetables where the stop names are listed on the left column of the table, we want that column to stay frozen while the user scrolls to the right through the stop arrival times.

Let's investigate how we can get this feature into TCP instead of using a hacky solution in the theme code. Website clients that currently have this feature in their theme: Capital Transit Juneau a

[2021-07-15 23:39] chancecorbeil opened #61 "Make fields conditionally show or hide depending if that field is active or relevant"
Currently all the fields and settings are always visible, even when not active.

For example, there are 3 types of timetable presentations. Default, accordion, and legend. The controls for legend timetables are always visible, even if the timetables are set to accordion. This leads to bloated editors, and confusion around which features are usable.

Conditionally hide fields that are sub-controls

[2021-07-22 21:17] chancecorbeil commented on #60
This feature is now fully in TCP. To activate, there is a checkbox on the TCP Settings page.

[2021-07-22 21:40] danielleogden commented on #60
@chancecorbeil awesome! Do Verde and Juneau need to be updated to the newest version TCP before we can try this out?

[2021-07-22 21:46] chancecorbeil commented on #60
@danielleogden Yes. Those websites would need TCP 3.0 to use this feature. Because those websites were the source for much of the code we used, we would also probably need to remove that code from their themes too.

[2021-07-22 21:50] chancecorbeil opened #62 "Remove multidirectional button"
The multidirectional button is redundant and is removed on many websites. This feature is usually in the theme. Move this feature to TCP 3.0.

I don't think we want this feature on any website so we will make this feature default and without a toggle on the settings page. If we do want this optional, let me know and we can establish a toggle.

[2021-07-22 22:18] chancecorbeil commented on #62
This feature is now in TCP 3.0.

[2021-07-22 22:18] #62 closed

[2021-08-03 20:39] chancecorbeil opened #63 "Merge dev branch into production branch after 3.0 is complete"
We need this plugin on the production branch for required plugin settings in some themes.

[2021-08-05 19:28] danielleogden commented on #60
One thing I forgot to include here is that we want to be mindful of how this functions on mobile. With the stops column frozen, you often are only able to see the first column of stop times, if that. We want to be able to constrain the width of the stops column so more of the arrival times show. Do we have control over that already?

![Screen Shot 2021-08-05 at 12 27 27 PM](https://user-images.git

[2021-08-05 21:16] #63 closed

[2021-08-11 20:08] chancecorbeil commented on #60
This feature is fixed. The issue was [a common conflict with jquery and WP](https://mkyong.com/jquery/jquery-is-not-working-in-wordpress-solution/).

Tested and working on RVTD, Verde Shuttle, and NWOTA.

The fixed column disappears for mobile (768px).

Now this feature is on the production branch, version 3.2.

[2021-08-11 20:08] #60 closed

[2021-08-13 21:58] chancecorbeil opened #67 "Check for H1 in timetables"
Do timetables have hidden H1 tags? During recent tests I made notes that I found a few. Confirm if this occurs or not. If it is occurring, make a plan to remove or retag instead of hiding.

[2021-08-25 02:08] chancecorbeil opened #68 "Make field visibility conditional on current usability"
Currently most fields that exist are always visible, even when they are not usable or relevant. Update field visibility to only be visible if relevant and usable.

For example: The 'Reverse order of directions in legend' field is only relevant if the timetables are set to be presented with a legend, but currently the field is always visible.

[2021-08-25 20:46] chancecorbeil opened #71 "Update remove-multidirectional-button.js to include weekends"

[2021-08-30 16:24] ekeaton opened #73 "Use route_text_color from the GTFS for Route circles"
Currently, TCP uses #fff as the route_text_color for Route circles. Instead of this hardcoded option, let's update it to pull in whatever hex code is coming from the GTFS.

[2021-08-30 22:28] chancecorbeil opened #74 "Add security feature to ACF JSON directory"
The feature is documented here
https://www.advancedcustomfields.com/resources/local-json/

[2021-09-03 16:34] ekeaton opened #75 "New Alerts Page layout"
Currently, when a user creates an Alert's post whether it's a System-wide alert or a Route alert. The page layout is the same.

This appears to create issues because Users sometimes try to add embed PDF's or add longer content to Route Alerts. When Route alerts should be shorter and more concise. Or they select "System-Wide" and select affected routes at the same time.

In order to eliminate the c

[2021-10-01 17:34] #6 closed

[2021-10-01 23:51] chancecorbeil commented on #74
This feature is set up, tested by me, and ready to review.

[2021-10-02 00:51] chancecorbeil commented on #71
It appears this is already complete and merged with production.

[2021-10-02 00:51] #71 closed

[2021-10-02 01:05] chancecorbeil commented on #68
This is a duplicate of another ticket. Closing.

[2021-10-02 01:05] #68 closed

[2021-10-06 23:24] chancecorbeil opened #76 "Establish documentation"
Establish documentation for this software, as we recently did for the base theme and field groups.

[2021-10-07 01:31] chancecorbeil commented on #76
Here are the two types of documentation we need:
[TCP Documentation Spreadsheet](https://docs.google.com/spreadsheets/d/1NsUXOq2KRscEZTP7HMhiHRBZCfp5dlvpxLYyKnZD37Y/edit?usp=sharing)
[TCP Documentation Document](https://docs.google.com/document/d/1RNwtR32giyvtYlrtheiFYReca7T97fk_Ij3bb9x4Hew/edit?usp=sharing)

These files are set up and ready for us to use.

[2021-10-13 19:15] ekeaton commented on #74
@chancecorbeil hmmm I'm not seeing where the field group/settings should be hidden? Looks like I can still see everything.

[2021-10-13 19:25] ekeaton commented on #61
@chancecorbeil This looks good!

[2021-10-13 23:08] chancecorbeil commented on #74
@ekeaton The location for this is the URL to TCP's acf-json directory.
Like this: websiteexample.com/wp-content/plugins/transit-custom-posts/acf-json/

With the empty index.php this page will be blank. Without the empty index.php the files might be accessible, although many servers will have this blocked by default.

Here is a useful [stackexchange](https://wordpress.stackexchange.com/questions/16

[2021-10-14 21:22] chancecorbeil opened #78 "Move field 'schedule (pdf)' out of 'route controls' field group"
Currently the field 'schedule (pdf)' is in the field group 'route controls' which we want to hide from clients. But clients need to manage the field 'schedule (pdf)'. Move the field 'schedule (pdf)' into a new field group which is intended to be edited by the client. Then we can hide the 'route controls' field group without management issues.

We need to decide on a name for the new field group. C

[2021-10-28 13:55] ekeaton opened #83 "Accordion JS needed"
Under Timetable Options in Custom Post Type settings, is the option to select Accordion Timetables. JS needs to be added in TCP for this feature to work when it's selected.

[2021-11-05 21:51] chancecorbeil commented on #78
I have considered many names for the new field group, and I still think using our naming system makes the most sense. For now, let's name the new field group 'More Route Controls'.

Using the prefix of 'More' will allow us to organize field groups together, while differentiating their configurations.

This update will be useful to a current RVTD project.

[2021-11-06 00:42] chancecorbeil commented on #78
@ekeaton This feature is set up and ready to test on branch:  Move-field-schedule-pdf-out-of-route-controls-field-group-#78

There is a new field group 'More Route Controls' that contains 'schedule (pdf)' which can be edited by all admins. The field group 'Route Controls' is now visible to Trillium admins only.

From my tests, moving the 'schedule (pdf)' field to a new field group transfers existi

[2021-11-06 01:37] #76 closed

[2021-11-08 18:28] ekeaton commented on #75
@chancecorbeil

I connected the TCP branch for this enhancement to Ellensburg's dev site for you. https://ellensburgdev.wpengine.com/

And I added two tests, one for a single route alert and one for a system alert in order to display the different views.

Notes:
Currently, there is a "System Alert" field that lives in the Base Theme. We'll need to remove that one since this feature uses that Field

[2021-11-10 15:13] ekeaton commented on #78
@chancecorbeil This looks great! My only thoughts are on the naming for this new field group. I believe in one of our meetings we all discussed moving the Schedule PDF field out of Route Controls not only to make that field group hidden but also because it's not a feature that "controls" the functionality of a Route. Such as the timetable legend features etc that currently exist in Route Controls.

[2021-11-12 22:30] chancecorbeil opened #87 "Route description bug"
We may have a bug with the route description field.

The GTFS feed for the route description is 'route_desc'. In TCP, we have that field set to 'route_description'. As a result, the route descriptions are not being imported from the GTFS feeds.

To fix this, we would update instances of the field 'route_description' to 'route_desc'.

[2021-11-15 15:01] ekeaton commented on #87
@chancecorbeil We use to pull the route description from the GTFS and you might still find this on older sites, but we found it very limiting, both in character count and not being link friendly, etc. Instead, we opted to create an ACF field for the Route description. However lately, I've noticed it makes the most sense to use the content field, and save making more and more fields!

[2021-11-15 21:43] chancecorbeil commented on #87
@ekeaton That makes sense. Thanks for the explanation.

Good point about the content field. That's probably where we would put the route description anyway.

I'm going to assign this ticket to myself and change the title, so I can remember to add this information to the documentation.

[2021-11-16 00:26] chancecorbeil opened #88 "TypeError from remove-multidirectional-button.js"
When timetable legends are enabled, a console error occurs on all pages without a timetable.

[code]

To fix, check if the variable 'tablenav' has been defined. If not, don't proceed. If so, continue.

This is a simple fix, so I'm going to go ahead and fix this now.

[2021-11-22 23:12] chancecorbeil commented on #78
I like your suggestion of "Route Options". The field group has been updated to that title.

This ticket i now ready for the update.

[2021-11-23 00:07] chancecorbeil commented on #75
@ekeaton I reviewed this update and it looks great! I can see the benefits of this improvement.

When this launches, I will remove the 'System Alert' field group form the base theme. I will also update the route alert content fields.

[2021-11-24 20:56] chancecorbeil commented on #75
This update will change some of the fields for alerts in the website themes, so we will need to modify the themes when we update to this version of TCP.

[2021-11-24 21:35] ekeaton commented on #75
@chancecorbeil it shouldn't! I baked it into the `tcp_do_alerts` function from TCP. Example here on Ellensburg where the demo is https://github.com/Trillium-Solutions/ellensburg/blob/development/template-parts/content-route.php

As long as that function is used/older sites are updated to use it, it should be fine!

[2021-11-25 00:22] chancecorbeil commented on #75
Oh interesting, I'm not that familiar with the tcp_do_alerts function. I'm used to seeing the query and fields being called in the route template, like [LRTA](https://github.com/Trillium-Solutions/lrta/blob/development/template-parts/content-route.php). When I check out the websites, I can see both techniques are used.

I'm guessing the manual code solutions are in themes to achieve designs that w

[2021-11-29 20:17] ekeaton commented on #75
Got it. Yeah, the setup like in LRTA is what came before the tcp_do_alerts function, it looks like Claudette started out that website with the intention of using it, looking back at the commits!

 She moved a lot of manual code solutions into TCP while building CATA. I've been adding the alert function into sites that I've upgraded to TCP along the way.

[2021-12-01 02:29] #88 closed

[2021-12-01 02:29] #78 closed

[2021-12-01 14:33] #75 closed

[2021-12-04 02:42] chancecorbeil opened #92 "Troubleshoot timetable accordion clickable areas"
- [x] Identify new collapse.js solution
- [x] Ensure past collapse.js solutions are still functional
- [x] Add collapse.js to TCP

[2021-12-07 17:14] ekeaton commented on #87
This has been updated back to route_desc and the field is now displaying the route description from the gtfs under Route Fields. Example on [NWOTA dev ](https://nwconnectordev.wpengine.com/wp-admin/post.php?post=5&action=edit)

[2021-12-07 17:22] ekeaton commented on #75
Updated the Alert fields to Route alert description and Route alert pdf. Also switched the text box for the Route alert description to a text area field.

[2021-12-07 21:59] chancecorbeil opened #93 "Reorganize component options into select elements on the settings page"
Components like timetables have options that can be selected on the settings page. Currently these options are checkboxes, which can lead to many options being selected at once and bloats the interface design.

Update the options into select elements. This way all options are organized together, and only one option can be selected at a time.

[2021-12-07 23:06] chancecorbeil opened #94 "Rename template functions to start with 'TCP'"
We use functions from TCP in WP themes. It can be confusing to know if a function if from the theme or TCP, especially for old websites where TCP features were actually in the theme. To solve this confusion, create a version of all TCP template functions that start with 'TCP'.

For example, a function like this already exists. `tcp_do_alerts()`

Here is a list of our [TCP functions](https://docs.g

[2021-12-07 23:14] chancecorbeil opened #95 "Set up alert parameters as options on the settings page"
The alerts component has interesting parameters to change the component.

For example:
[code]

Move these options to the settings page, like the timetables.

[2021-12-08 00:41] chancecorbeil commented on #93
This feature is now set up for Timetables
![Screen Shot 2021-12-07 at 4 40 55 PM](https://user-images.githubusercontent.com/4701939/145127903-862e8a99-d575-4e18-bb54-f1962a599cf7.png)
:

We will add these features for Alerts on #95

[2021-12-08 01:34] chancecorbeil commented on #94
This update is complete. All the function names listed above will work as expected. New functions and legacy functions are both perfectly fine to use.

The only potential issue I see is for shortcodes. Any functions controlled with shortcodes will need updated to the new shortcode names. This is no big deal because I don't think any website uses shortcodes for these components.

[2021-12-09 03:41] chancecorbeil commented on #95
This update is complete. Alert parameters are set up on the settings page.

There are 3 parameters (we can always add more):

1. Collapse
2. Route Circles
3. Use Button

These parameters change the features of `<?php tcp_alerts(); // From TCP ?>`

A goal was to retain backwards compatibility to functions that use parameters. They do (sort of)!! I used `<?php tcp_alerts( array('collapse' => false,

[2021-12-10 01:58] chancecorbeil opened #99 "TCP component focus colors"
Many of the TCP elements don't have a focus color. Like timetables with a legend.

Some websites have the focus, like https://www.ridebat.com/routes/route-1/

Here is a hint
[code]

[2021-12-10 09:51] chancecorbeil opened #101 "Establish conditional settings on settings page"
Some controls on the settings page are only relevant if another setting is selected first. Create the ability to have conditional settings. Then set up conditional visibility on child settings.

For example, when the setting 'Collapse js version' is set to 'Bootstrap v3.3.5 jquery', the field 'Enable bootstrapv3.3.5 css' appears.

This is complete and ready to review. The main flaw I see is that c

[2021-12-10 09:57] chancecorbeil opened #103 "Add conditional bulma table classes to timetables on settings page"

[2021-12-10 21:47] chancecorbeil opened #104 "Rebuild jQuery features in vanilla JS"

[2021-12-11 18:09] wkulesza opened #105 "How to run this?"
What is the best way to run this plug-in? When trying to run it with transit Wordpress theme, it keeps saying routes are not activated even though they are configured and checked.

[2021-12-13 21:34] chancecorbeil commented on #103
[code]

[2021-12-13 21:53] chancecorbeil opened #106 "Establish 'Override Route ID' field for Timetables"
Establish a 'override route id' field for timetables. The override route id field will override the 'route id' field. This allows us to specify new route ids for timetables that don't get replaced when the GTFS updates the route id field.

[2021-12-14 00:24] chancecorbeil commented on #106
This feature is set up and ready ready to be reviewed.

[2021-12-14 00:58] danielleogden commented on #106
@ekeaton can you please review tomorrow?

[2021-12-14 15:22] ekeaton commented on #106
@danielleogden I tested this on staging and it looks great

[2021-12-14 21:36] chancecorbeil opened #109 "Add control to settings page to enable or disable timetable styles"
Sometimes the timetable styles in TCP interfere with websites with custom styles. To make styling timetable components easier, add a control to the settings page to enable or disable timetable styles.

This might be a useful feature for other TCP components too.

[2021-12-15 00:11] chancecorbeil commented on #67
I reviewed this issue and I believe it is localized to a few specific websites, and not coming from TCP. It was hard to find any examples so I don't consider this an issue.

[2021-12-15 00:11] #67 closed

[2021-12-15 00:39] chancecorbeil commented on #92
We have decided to use Collapse.js from bootstrap V3.3.5. Many of our websites already use it and it handles the clickable areas correctly. Now this collapse js is integrated into TCP. If the theme does not have bootstrap V3.3.5, TCP can enqueue it and the css.

This update is complete and ready to review.

[2021-12-15 00:40] chancecorbeil commented on #83
This has been completed on ticket: Troubleshoot timetable accordion clickable areas #92

[2021-12-15 00:43] chancecorbeil opened #110 "Review TCP branch 3.5.2-dev"
Hi @ekeaton Can you please review all the new updates on TCP?

All these updates are read to review on a single branch ( 3.5.2-dev ). I was developing these branches as separate updates as we normally do, but many of the updates required the last update to function, so I decided to start merging all the updates into a branch so I could continue forward. All your reviews can be done on 3.5.2-dev.

[2021-12-15 17:58] ekeaton commented on #110
@chancecorbeil Notes:

When I activated the plugin I received this error:

I was able to ignore the message and still use the plugin but here's a link about what that means https://stackoverflow.com/questions/4074477/the-plugin-generated-x-characters-of-unexpected-output-during-activation-wordpr.

- The alerts panel isn't opening when using the collapse and use button options from the TCP settings

[2021-12-15 22:59] ekeaton commented on #110
@chancecorbeil

I believe the missing text bug that occurred on the two sites I tested on should be fine now and was related to updated field names. Single alert desc --> route alert desc etc.

[2021-12-16 00:55] chancecorbeil commented on #110
@ekeaton Oh great! I tested that too, and all contents transitioning from 3.5.1 to 3.5.2 are looking fine to me.

For Ellensburg, the GTFS import bug where only 1 route appears is happening on all versions of TCP. I've tried on a local copy of Production using version 2, the dev environment on 3.4, 3.5.1, and 3.5.2. On all GTFS imports only that single route appears. I can see 5 other routes in th

[2021-12-16 01:46] chancecorbeil commented on #110
@ekeaton

The plugin activation bug is fixed. This also fixed a bug where the media library was inaccessible. If you experienced issues with PDFs, this was probably the cause.

I think all the bugs are fixed now.

[2021-12-17 02:14] chancecorbeil opened #111 "Troubleshoot alert description fields"
For now we are going to revert back to the original the_content() to retain backwards compatibility with existing websites. Most websites were unable to have alert descriptions using the new alert fields because the fields were not in the theme templates.

I do like the goals for the new alert description fields, and I think we can use them if we use a solution like the one below.

Eventually we m

[2021-12-23 17:12] ekeaton commented on #111
I think should roll back the new alerts feature completely, it looks like half of its intention is still present when creating a new Alert. Since we're now using the content field for both System alerts and Route alerts, there is no longer a need for the Is "this a system alert" toggling between features.

[2021-12-23 17:24] danielleogden commented on #111
@ekeaton I think it's still useful. When you select System Alert, the affected routes menu is disabled. We want to encourage clients to use this tool the right way and not select both system alert and affected routes. Unfortunately it's a bit buggy and sometimes the Affected Routes menu reappears after you publish the alert. Do you see any way around that?

[2021-12-23 18:24] danielleogden commented on #111
Ok, @chancecorbeil after discussing with Estelle, I agree we should just roll the alerts feature back for now. We can look into it again in a future TCP update when we have agreed on the best path forward and worked out the interface bugs.

[2021-12-23 21:01] chancecorbeil commented on #111
@danielleogden Okay, I'm working on this update now.

[2021-12-23 21:41] chancecorbeil commented on #111
@danielleogden The alert features from 3.5.0 have been rolled back.

[2021-12-24 21:01] #95 closed

[2021-12-24 21:01] #94 closed

[2021-12-24 21:01] #93 closed

[2021-12-24 21:01] #101 closed

[2021-12-24 21:01] #92 closed

[2021-12-24 21:01] #83 closed

[2021-12-24 21:01] #106 closed

[2021-12-24 21:02] #111 closed

[2021-12-28 20:19] #110 closed

[2021-12-29 02:08] chancecorbeil opened #116 "Add wpautop to TCP alert component contents"
The get_the_content function doesn't use the wpautop function, so the alerts don't have the correct text format. Update $alert_desc to use get_the_content with wpautop.

[2021-12-29 02:23] chancecorbeil commented on #116
All done

[2021-12-29 02:23] #116 closed

[2022-01-04 23:04] chancecorbeil commented on #109
I moved this feature into the base theme. Now we can style all tables at once. Although we may want the timetables source to not come with loaded classes and styles.

[2022-01-04 23:04] #109 closed

[2022-01-04 23:20] chancecorbeil opened #118 "Add additional optional features to the collapse components"
The collapse components will benefit from additional optional features.

- [ ] Call to action: click to expand
- [ ] Icon arrow with position to indicate state of open / close

[2022-01-12 14:54] ekeaton opened #119 "Timetable order by Timetable Order field"
According to the README

Timetables are sorted by the 'timetable id’ by default. To reorder timetables vertically, set the route to 'Order by': 'Timetable Order Field' and set the timetables 'Timetable Order' field in the numerical order you want the timetables to appear.

This feature is a bit confusing on how to order the Timetable Order fields. It looks like it will accept any value from 1 to x

[2022-01-18 01:48] danielleogden opened #120 "Alert detection field for Route post"
El Dorado route alert icon discussion:

Chance: This makes me think of how useful it would be to have an automated field on the route posts which detects if there is an alert for that route. That way we could retrieve this info directly from the route without having to load in another array which leads to interference.

This would probably take 3-5 hours. We have pieces of this feature built in a

[2022-01-18 01:49] danielleogden commented on #120
@chancecorbeil where have we built it before? and will this cause backwards compatibility issues?

[2022-01-18 21:02] chancecorbeil commented on #120
We have TCP comparing post type data and making connections between CPTS in many places. That's how features like 'Keep route published if timetables are expired or missing' work. Any time a route and a timetable, or a route and an alert are being related, we are using a technique similar to what we would use for an alert detection field for Route post.

Nope, this feature will be independent from

[2022-01-18 21:18] danielleogden commented on #120
@chancecorbeil great! Before we move forward with this plan, I looped in @ekeaton in case she has insight on how this particular alert feature might have been built on other sites. She's doing a quick review and we can discuss more in tomorrow's team meeting.

[2022-02-03 01:06] danielleogden commented on #119
@chancecorbeil @ekeaton I was poking around and found this closed ticket: https://github.com/Trillium-Solutions/transit-custom-posts/issues/7

It's hard for me to tell what was going on here. Possibly they were planning on managing timetable sequence within gtfs manager? What do you make of this Estelle?

[2022-02-03 15:01] ekeaton commented on #119
Yeah, It looks like Brendan was telling them it's already possible with g2h IF they use the timetable_sequence field in timetables.txt and then also timetable pages. But I don't know if this was actually added to GTFSM.

@evantrillium Does your team have the option to use timetable_sequence in timetables.txt now? RE: https://github.com/Trillium-Solutions/transit-custom-posts/issues/7

[2022-02-03 17:12] evantrillium commented on #119
we do not - it is not included in timetables.txt nor in GTFSM